<div id="navbar">
  <div class="navbar-logo">
      <%= image_tag("began-logo.png", alt: "Began logo", class: "logo") %>
  </div>

  <div class="navbar-go">
    <% if current_user.category.nil? %>
      <%= link_to choose_category_path do %>
        <p class="go-navbar <%= @game ? 'nav-active' : '' %> ">GO!</p>
      <% end %>
    <% else %>
      <% if current_user.challenges.empty? %>
        <%= link_to category_path(current_user.category) do %>
          <p class="go-navbar <%= @game ? 'nav-active' : '' %> ">GO!</p>
        <% end %>
      <% else %>
        <%= link_to category_path(current_user.category, anchor: current_user.challenges.last.position) do %>
          <p class="go-navbar <%= @game ? 'nav-active' : '' %> ">GO!</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="navbar-dashboard">
    <%= link_to homepage_path  do %>
      <p class="element-navbar <%= params[:action] == 'home' ? 'nav-active' : '' %> ">Dashboard</p>
    <% end %>
  </div>

  <div class="navbar-counter">
    <%= link_to meat_counter_path do %>
      <p class="element-navbar <%= params[:action] == 'meat_counter' ? 'nav-active' : '' %>">Counter</p>
    <% end %>
  </div>

  <div class="navbar-cookbook">
    <%= link_to choose_cookbook_path do %>
      <p class="element-navbar <%= @cookbook_icon ? 'nav-active' : '' %>">Cookbook</p>
    <% end %>
  </div>

  <div class="navbar-forum">
    <%= link_to posts_path do %>
      <p class="element-navbar <%= @forum ? 'nav-active' : '' %>">Forum</p>
    <% end %>
  </div>


  <%= link_to destroy_user_session_path, :method => :delete do %>
    <div class="navbar-logout">
      <p class="element-navbar">Log Out</p>
      <i class="fas fa-power-off"></i>
    </div>
  <% end %>

</div>
